;; shadow-cljs configuration
{:source-paths
 ["dev" "src"]

 :dependencies
 [[reagent "0.9.0-rc1"]
  [re-frame "0.11.0-rc1"]
  [syn-antd "1.3.0"]
  [domino/ui "0.1.2" :scope "provided"]]

 :builds
 {:test-page {:target     :browser
              :output-dir "dev/resources/public/js/compiled"
              :asset-path "js/compiled"
              :modules    {:test-page {:init-fn domino.ui.antd.test-page/init!}}
              :devtools   {:http-root  "dev/resources/public"
                           :http-port  3449
                           :watch-dir  "dev/resources/public"}
              }}}
